.back {
  background-color: #0d0d347d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.confirmBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 35px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 550px) and (min-width: 300px) {
  .confirmBtnContainer {
    margin: 17px;
  }
}
