.body {
  height: 60%;
  width: 50%;
  margin: auto auto;
  position: fixed;
  top: 18%;
  right: 30%;
}
.changePassInput {
  display: flex;
  flex-direction: row-reverse;
  margin: 2%;
}
.btn {
  /* margin-top: -4%; */
}

.error {
  margin-top: 10%;
  text-align: center;
  color: red;
}
