.body {
  height: 60%;
  width: 50%;
  margin: auto auto;
  position: fixed;
  top: 15%;
  right: 30%;
}

/* .main {
  height: 29rem;
  padding: 9%;
  width: 26rem;
  border: 2px solid #121285;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 7px 19px -3px #7373f0bd;
} */

.profile {
  position: fixed;
  right: 22%;
  display: flex;
}
.image {
  object-fit: cover;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.name {
  margin-top: 12%;
  margin-right: 6%;
  width: 10rem;
}

.choosePhoto {
  display: flex;
  justify-content: space-between;
 
}
label{
  padding-top:3%;
}
.inputPhoto {
  width: 9rem;
  border-radius: 49%;
  background-color: #9fdbd1;
  text-align: center;
  padding: 3% 4%;
  border: 2px solid #121285;
  color: white;
  font-weight: bolder;
  margin-right: 20%;
  cursor: pointer;
}

.editProfileInput{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8%;
  margin-bottom: 2%;
}
.choosePhotoInput{
  padding-top: 6%;
}
input[type=file]::file-selector-button{
  background-color: #121285;
  border: 2px solid #8282b8;
  border-radius: 10px;
  color: white;
  padding: 5% 10%;
  
}
input[type=file]::file-selector-button:hover{
  background-color: #1919a4cf;
}