.body {
  margin: auto auto;
  padding: 2% 4%;
  height: 70%;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 0;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileTopics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
}

.profileImg {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.profileLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.profileName {
  margin-top: 25px;
  text-align: right;
  margin-right: 1%;
}

.githubLogo {
  height: 10px;
  width: 10px;
}

.texts {
  margin-top: 28%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Fa {
  transform: scale(2.5);
  margin-left: 2%;
}

.email {
  color: rgb(233 34 34);
}

.Linkedin {
  color: #0a66c2;
}

.github {
  color: #000;
}
.settindIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 38px;
  left: 45px;
  width: 8%;
}
.edit {
  transform: scale(1.5);
  color: #121285;
}

.editPass {
  transform: scale(1.5);
  color: #121285;
}
