.btn {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.loginBtn{
  position: absolute;
  right: 21%;
  top: 76%;
  border: 3px solid #ad722a;
  background-color: #FFC130;
  padding: 3% 9%;
  font-weight: bolder;
  font-size: 1rem;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  width: 59%;
  text-align: center
}

.loginBtn:hover{
background-color: #ffcd57;
}
.editProfile{
  color: white;
  border: 1px solid #8282b8;
  background-color: #121285;
  padding: 3% 9%;
  font-weight: bolder;
  font-size: 1rem;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  width: 18rem;
  height: 4rem;
  margin: 13% 14% 8%;
  text-align: center;

}

.editProfile:hover{
  background-color: #4646eb;
}