.btn {
  padding: 15px 25px;
  font-size: 18px;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.success {
  background-color: #55ff55;
}

.danger {
  background-color: #ff5555;
}

.custome {
  background-color: #eeff55;
}
