.loginStyle{
  position: fixed;
  right: 22%;
  top: 20%;
  width: 50%;
  height: 55%;
  background-color: #121258;
  color: white;
  padding: 65px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 25px;
  margin: auto;
}
.profileStyle {
  border: 2px solid #121285;
  box-shadow: 6px 9px 9px 1px #bcad8d;
  margin: auto auto;
  padding: 20px;
  position: fixed;
  top: 10%;
  bottom: 0;
  right: 20%;
  left: 0;
  border-radius: 25px;
}

.editProfileStyle {
  height: 80%;
  padding: 25px 60px;
  width: 30%;
  border: 2px solid #121285;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 7px 19px -3px #7373f0bd;
  margin: auto auto;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 0;
  bottom: 1%;
}

.courseStyle {
  text-align: right;
  border: 2px solid #9fdbd1;
  padding: 30px;
  box-shadow: 5px 9px 11px -2px #1e5a50;
  height: 23%;
  width: 22%;
  margin: auto auto;
  position: fixed;
  top: 42%;
  right: 24%;
  border-radius: 11px;
}

.changePassStyle {
  height: 75%;
  padding: 25px 60px;
  width: 28%;
  margin: auto auto;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 0;
  bottom: 0;
  border: 2px solid #121285;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 7px 19px -3px #7373f0bd;
}

.courseMemberStyle{
  border: 2px solid #9fdbd1;
  max-height: 65%;
  overflow-y: auto;
  width: 55%;
  margin: auto auto;
  position: fixed;
  background-attachment: scroll;
  top: 9%;
  bottom: 0;
  right: 22%;
  left: 0;
  padding: 60px 65px;
  border-radius: 20px;
  box-shadow: 6px 7px 19px -3px #31685f;
}
.membersStyle{
  border: 2px solid #0303aa;
    height: auto;
    background-color: #121285;
    width: 85%;
    color: white;
    margin: auto auto;
    padding: 10px 47px;
    border-radius: 15px;
    margin-bottom: 3%;

}

.confirmStyle {
  background-color: #eee;
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  padding: 5%;
  border: 4px solid #9fdbd1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}