.inputDiv {
  width: 80%;
}

.inputLogin {
  background-color: #d1ece8;
  width: 80%;
  margin: auto;
  height: 5px;
  border: 3px solid #697d7a;
  color: #0d0d34c2;
  text-align: left;
  padding: 20px;
  box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 20px;
}

.inputLogin:focus {
  background-color: white;
  border: 3px solid #7a6d6d;
}

.inputEditProfile,
.inputChangePass,
.inputEditProfileBio,
.inputManageProjectDescription,
.inputCourseSetting,
.inputAddDeletAssistant,
.inputAddMemberOfGroup,
.inputcreatGroup,
.inputGroupDiscription {
  background-color: #d1ece8;
  width: 80%;
  height: 0.8rem;
  border: 3px solid #697d7a;
  color: #0d0d34c2;
  text-align: left;
  padding: 15px;
  box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.inputAddDeletAssistant {
  width: 74%;
  text-align: center;
}
.inputAddMemberOfGroup {
  width: 75%;
}

.inputEditProfile:focus,
.inputChangePass:focus,
.inputEditProfileBio:focus,
.inputManageProjectDescription:focus,
.inputCourseSetting:focus,
.inputhaveCounterInputs:focus,
.inputAddDeletAssistant:focus,
.inputAddMemberOfGroup:focus,
.inputcreatGroup:focus,
.inputGroupDiscription :focus {
  background-color: white;
  border: 3px solid #7a6d6d;
}

.inputChangePass {
  width: 65%;
  position: relative;
  left: 12%;
}
.inputEditProfile {
  position: relative;
  left: 6%;
}

.inputEditProfileBio,
.inputManageProjectDescription {
  text-align: right;
  height: 2rem;
  position: relative;
  left: 6%;
}
.inputGroupDiscription {
  text-align: right;
  height: 5rem;
  position: relative;
  left: 5%;
}
.inputcreatGroup {
  text-align: right;
  padding: 15px 22px;
  width: 78%;
  position: relative;
  left: 5%;
}
.inputCourseSetting {
  text-align: right;
  padding: 15px 22px;
  width: 78%;

  position: relative;
  left: 6%;
}

.inputCourseSetting::placeholder,
.inputhaveCounterInputs::placeholder {
  color: #0d0d34c2;
}

.inputhaveCounterInputs {
  background-color: #d1ece8;
  height: 0.8rem;
  border: 3px solid #697d7a;
  color: #0d0d34c2;
  box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 35%;
  text-align: right;
  padding: 15px 22px;
}
input[type="number"] {
  position: relative;
  width: 68%;
  margin-bottom: 5%;
  margin-top: 2%;
  right: 5%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  position: relative;
  transform: scale(1.2);
  width: 100%;
  right: 90%;
  padding: 2px;
  color: #121285;
  background-color: #121285;
}

@media (max-width: 420px) and (min-width: 300px) {
  .inputLogin {
    padding: 17px;
    height: 0px;
  }
}

/* another cards */

@media (max-width: 550px) and (min-width: 300px) {
  .inputEditProfile,
  .inputEditProfileBio,
  .inputChangePass {
    width: 95%;
    height: 17px;
  }
  .inputManageProjectDescription {
    width: 70%;
    height: 17px;
  }

  .inputCourseSetting {
    width: 73%;
    height: 17px;
  }
  .inputAddDeletAssistant {
    width: 72%;
    text-align: right;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .inputEditProfile,
  .inputEditProfileBio,
  .inputChangePass {
    width: 80%;
    height: 37px;
  }
}

@media (width: 1024px) and (height: 600px) {
  .inputEditProfile,
  .inputEditProfileBio,
  .inputManageProjectDescription {
    width: 80%;
    height: 16px;
  }
  .inputChangePass {
    width: 80%;
    height: 21px;
  }
  .inputcreatGroup {
    width: 80%;
    height: 8px;
  }
  .inputGroupDiscription {
    height: 25px;
    width: 84%;
  }
}
