.body {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to right, #0f0c29ac, #302b63c1, #24243ee4),url(../imglog_auto_x2.jpg) 0px -25px/cover;
   
  background-color: #dbdcff;
}
.tamLable {
  padding: 10px 20px;
  color: white;
  font-size: 3rem;
  position: fixed;
  margin: auto auto;
  top: 1%;
  left: 47%;
}
.uniLable {
  height: 8%;
    margin: auto auto;
    position: fixed;
    top: 1%;
    left: 2%;
  
    background-color: white;
    border-radius: 8px;
}
.tamLogo{
  height: 8%;
  margin: auto auto;
  position: fixed;
  top: 3%;
  right: 2%;
}
.header {
 
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
}

.labelText {
  margin-top: 5%;
}
.inputsLocation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}




