.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.tamLable {
  margin-left: 5%;
}
.uniLable {
  margin-right: 5%;
}
.header {
  background-color: #9fdbd1;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  background-color: #292978;
  margin-bottom: 2%;
  height: 15rem;
}

.loginBox {
  position: absolute;
  right: 5%;
  width: 32%;
  height: 53%;
  background-color: #121258;
  color: white;
  margin-bottom: 5%;
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.labelText {
  margin: 12% 0.4rem 2%;
}

.checkBox {
  color: #f26768;
  margin-right: 5%;
  top: 21%;
}
.fullCheckBox {
  width: 39%;
}
