.routerCourseClass {
  text-align: center;
  color: black;
  border: none;
  margin-bottom: 0;
  padding: 0.7rem;
  justify-content: center;
  align-items: center;
  margin: 1px 0;
}

.teacher {
  background-color: #ffcf5d;
}
.assistant {
  background-color: #ffc038;
}
.student {
  background-color: #f26768;
}

.teacher:hover {
  background-color: #edab12;
}
.assistant:hover {
  background-color: #f1a900;
}
.student:hover {
  background-color: #d93b3c;
}
