.container {
  width: 20%;
  background-color: #121285;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: auto;
  padding-bottom: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}

.sidebarTopic {
  background-color: #020258;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: white;
  border-bottom: #576cbc 2px solid;
  height: 2rem;
  width: 100%;
  box-shadow: 8px -2px 10px 1px #3333e3;
}

.routerLinks {
  text-decoration: none;
  width: 100%;
}

.routerLinks:hover {
  background-color: #aaa;
}

.courseIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* border: 1px solid white; */
  cursor: pointer;
}

.courseIcon:hover {
  background-color: #2b2b9b;
}

.roleContainer {
  display: flex;
  gap: 10px;
}

.role,
.roleTA {
  color: white;
  font-size: 1.2rem;
}
.roleIcon {
  color: white;
  transform: scale(1.2);
}

.studentCourses,
.assistantCourses,
.teacherCourses {
  margin-top: 5%;
}

@media(  max-width:1000px ) and (min-width :300px ){
  .container{
    display: none;
  }
}