.body {
  background-color: #9fdbd1;
  display: flex;
  justify-content: space-between;
  padding: 1.5% 0;
  box-shadow: 0px 2px 10px 1px #145e51b8;
  width: 80%;
  height: 15px;
  position: fixed;
  flex-direction: row-reverse;
  z-index: 1;
}

.logos {
  margin-left: 29px;
  display: flex;
  gap: 15px;

  justify-content: space-between;
  width: 100px;
}

.profileLogo {
  transform: scale(1.4);
  color: #121285;
  cursor: pointer;
}

.notifLogo {
  transform: scale(1.4);
  color: #121285;
  cursor: pointer;
}

.outLogo {
  transform: scale(1.4);
  color: #121285;
  cursor: pointer;
}

.tamLogoHeader {
  margin: -15px 26px;
    height: 47px;
    width: 70px;
    border-radius: 5px;
}

@media (max-width: 1024px) and (min-width: 601px) {
  .body {
    width: 100%;
    height: 40px;
    z-index: 1;
  }

  .logos {
    padding-top: 10px;
  }
  .tamLogoHeader {
    margin: 6px 10px;
  }
}

@media (max-width: 600px) and (min-width: 300px) {
  .body {
    width: 100%;
    height: 35px;
    z-index: 1;
  }

  .logos {
    padding-top: 7px;
    margin-left: 17px;
  }
  .tamLogoHeader {
    margin: -1px 10px;
    height: 37px;
    width: 50px;
  }
}
