.body {
  background-color: #9fdbd1;
  display: flex;
  justify-content: space-between;

  padding: 15px 0;
  box-shadow: 8px 2px 10px 1px #145e51b8;
}

.logos {
  margin-right: 10px;
  display: flex;
  gap: 15px;
}

.notifLogo {
  margin-right: 22%;
  transform: scale(1.8);
  color: #121285;
}

.outLogo {
  margin-right: 2%;
  transform: scale(1.8);
  color: #121285;
}

.tamLogoHeader {
  margin: 0 10px;
}
