.body {
  margin: auto auto;
  padding: 30px 60px;
  height: 70%;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileTopics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
}

.profileImg {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-position: center;
  /* background-size: cover; */
  object-fit: cover;
}

.profileLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.profileName {
  margin-top: 25px;
  text-align: right;
  margin-right: 1%;
}

.githubLogo {
  height: 10px;
  width: 10px;
}

.texts {
  margin-top: 28%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Fa {
  transform: scale(2.5);
  margin-left: 2%;
}

.email {
  color: rgb(233 34 34);
}

.Linkedin {
  color: #0a66c2;
}

.github {
  color: #000;
}
.settindIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 6%;
  left: 4%;
  width: 8%;
}
.edits {
  transform: scale(1.5);
  color: #121285;
  cursor: pointer;
}

@media (max-width: 550px) and (min-width: 300px) {
  .body {
    height: 70%;
    margin: auto;

    right: 0%;
    left: 0%;
  }

  .profileTopics {
    left: 12%;
    position: relative;
  }
  .text {
    font-size: 15px;
  }
  .nameText {
    font-size: large;
  }
  .profileImg {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
  .Fa {
    transform: scale(1.5);
    margin-left: 2%;
  }
  .profileGithub,
  .profileLinkedIn,
  .profileEmail {
    font-size: 16px;
  }
  .profileLinks {
    position: relative;
    right: 12%;
    margin-top: 40px;
  }
  .settindIcon {
    width: 19%;
  }
  .edits {
    transform: scale(1);
  }
}

@media (max-width: 550px) and (min-width: 300px) and (max-height: 950px) and (min-height: 750px) {
  .profileLinks {
    position: relative;

    bottom: 23%;
  }
}

@media (max-width: 1025px) and (min-width: 600px) {
  .body {
    height: 70%;
    margin: 0;
    top: 10%;
    right: 0%;
    left: 2%;
  }
  .profileTopics {
    position: relative;
  }
  .settindIcon {
    width: 15%;
  }
}

@media (width: 1024px) and (height: 600px) {
  .settindIcon {
    width: 10%;
    top: 13%;
  }
}
