.descriptionInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: right;
}

.label {
  position: relative;
  right: 9%;
  padding-bottom: 2%;
  padding-top: 2%;
}
.title {
  text-align: center;
}
.enable {
  width: 100%;
  margin-top: 5%;
}
.icon {
  color: #121285;
  transform: scale(1.5);
  position: absolute;
}
