.icon {
  transform: scale(1.3);
  margin-top: 5px;
  color: #121285;
  cursor: pointer;
}
.alertTitle {
  text-align: center;
  margin-top: 25px;
}
.title {
  text-align: center;
  margin-bottom: 5%;
}
.groupName {
  font-size: 20px;
}
.bottom {
  margin-bottom: 12px;
}
.zipIcon {
  transform: scale(1.5);
  margin-top: 8px;
  color: #121285;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 91%;
  flex-direction: row-reverse;
  padding-left: 20px;
}
.timeIcon {
  margin-top: 13px;
  transform: scale(1.7);
  cursor: pointer;
  position: relative;
  color: #121285;
}
.projectListItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.downFile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media (max-width: 550px) and (min-width: 300px) {
  .zipIcon {
    margin-left: 22px;

    transform: scale(1.5);
    bottom: 9%;
  }
}
