.icon {
  margin: auto;
  margin-left: 0;
  padding-left: 20px;
  transform: scale(1.4);
  color: #121285;
  cursor: pointer;
}
.title {
  text-align: center;
  margin-top: 20%;
}

.filDown {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: auto;
}
.downLink {
  color: #000;
  font-style: italic;
}

@media (max-width: 550px) and (min-width: 300px) {
  .icon {
    transform: scale(1.8);
  }
  .title {
    font-size: 17px;
    margin-bottom: 10%;
  }

  .downLink {
    font-size: 20px;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .icon {
    transform: scale(1.8);
  }
  .title {
    font-size: 22px;
    margin-bottom: 10%;
  }

  .downLink {
    font-size: 20px;
  }
}
