.body {
  height: 90%;
  width: 90%;
  margin: auto auto;
  position: relative;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 0;
}

.memberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px red solid;
  margin: 2px;
  padding: 2px;
  border-radius: 15px;
}

.eachMember {
  display: flex;
  gap: 5px;
}
