.title {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* width: 80%; */
  margin: auto auto;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 0;
  bottom: 1%;
}

.editGroupInput {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  margin-bottom: 5%;
  position: relative;
  top: 3%;
}
label {
  position: relative;
  right: 8%;
  padding-bottom: 2%;
}
