.groupName {
  text-align: center;
}

.descriptionText,
.groupNameText {
  text-align: center;
}
.labelOfMembers {
  margin-bottom: 15px;
  padding-top: 7%;
}
.groupMember {
  margin-bottom: 40px;
}
.nameOfMembers {
  margin: 0;
  padding-right: 7%;
  margin-bottom: 5px;
  font-size: 14px;
}
.nameOfOwner {
  margin: 0;
  padding-right: 7%;
  margin-bottom: 5px;
  font-weight: bolder;
}
.icon {
  color: #121285;
  transform: scale(1.7);
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}
.description {
  margin-bottom: 20px;
}
@media (width: 1024px) and (height: 1366px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin: auto auto;
    position: fixed;
    top: 10%;
    right: 20%;
    left: 0;
    bottom: 1%;
  }
}
@media (max-width: 1023px) and (min-width: 1000px) {
  .content {
    right: 0;
  }
}

@media (width: 1024px) and (height: 600px) {
  .content {
    height: 78%;
  }
  .groupName {
    height: 55px;
    padding-top: 5px;
  }
}
