.titlePage {
  text-align: center;
  margin-bottom: 30px;
}
.deletIcon {
  display: flex;
  color: #121285;
  transform: scale(1.2);
  position: relative;
  right: 0%;
  cursor: pointer;
}
.textOfGroupList {
  padding: 6% 7% 7% 0%;
}
.creatorName {
  font-weight: 900;
}
.parts1,
.parts2 {
  position: relative;

  width: 34%;
  margin: auto;
}
.parts1 {
  right: 6%;
}
.parts2 {
  right: 12%;
}
.nameOfGroup {
  margin-bottom: 20px;
}
.membersOfGroups {
  padding: 6% 7% 0% 0%;
  font-size: 1rem;
}

.noGroupAlert {
  margin-top: 20px;
  text-align: center;
}
/* .scroll{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background-attachment: scroll;
  max-height: 100%;
} */

@media (max-width: 550px) and (min-width: 300px) {
  .parts1,
  .parts2 {
    right: 0;
    width: 100%;
  }

  .deletIcon {
    transform: scale(1);
    right: 15px;
    bottom: 13px;
  }
}

@media (max-width: 1000px) and (min-width: 600px) {
  .textOfGroupList {
    font-size: 1rem;
  }
  .title {
    font-size: 1.2rem;
  }
}
@media (width: 1024px) and (height: 1366px) {
}
@media (max-width: 1023px) and (min-width: 1000px) {
}
